// COLORS
$Bright-orange: hsl(31, 77%, 52%);
$Dark-cyan: hsl(184, 100%, 22%);
$Very-dark-cyan: hsl(179, 100%, 13%);

$Transparent-white: hsla(0, 0%, 100%, 0.75);
$Very-light-gray: hsl(0, 0%, 95%);

// RESPONSIVE
$desktop-width: 144rem;

$mobile-width: 37.6rem;
$mobile-height: 140rem;

$mobile-row-width: 32.6rem;
$mobile-row-height: 132rem;

// GRID
$grid-width: 87rem;
$grid-height: 47rem;

$gutter-vertical: 0rem;
$gutter-horizontal: 0rem;
